{% extends "layout.html.jinja2" %}
{% from 'macros.html.jinja2' import ajaxform %}
{% block title %}This page does not exist{% endblock %}
{% block content %}
<h2>This page does not exist</h2>
<p>Well, obviously this page exists. But the page you requested does not exist. This page is just here to tell you that the page you requested does not exist.</p>
<br />
<p>Try visting our <a href="/">home page</a>.</p>
{% endblock %}
