{% extends "layout.html" %}
{% from 'macros.html' import ajaxform, render_schedule %}
{% block title %}{{ event.speakers[0].title }}: {{ event.title }}{% endblock %}
{% block main %}
<article id="about">
  <div class="content">
    <div id="about-banner">
      <h2>{{ event.speaker }}</h2>
    </div>
    <div id="picture-frame">
      <img src="{{ url_for('static', filename='img/%s' % (event.photo)) }}"/>
    </div>
    <div id="about-bio">
      {{ speaker_bio }}
    </div>
    <div id="about-text">
      <h2>{{ event.title}}</h2>
      {{ event_description }}
    </div>
  </div>
</article>
<div id="sky-transition">
    {% if not event.status %}
  <article id="closed">
    <h3>Registrations are closed</h3>
  </article>
    {% endif %}
  {% if schedule_data %}
  <article id="schedule">
    <div class="content">
      <div id="meghaman"><!-- --></div>
      <h3>{{ event_date }}, {{ event.city }}</h3>
      {{ render_schedule(schedule_data) }}
    </div>
  </article>
  {% endif %}
  <article id="register">
    <div class="content">
        {% if event.status %}
      <div id="register-now">
        <h2>Register now<span class="exspace">&nbsp;</span><span class="arrow">&rarr;</span></h2>
        <h3>The venue has limited capacity</h3>
        <p>
          Fill out the form to confirm your participation. We have limited space at the
          venue and may not be able to accommodate everyone. Registration will allow us
          to keep you updated about the talk. Do tell us something about yourself so we
          know whom we are expecting.
        </p>
        <p>
          <strong>Our privacy policy:</strong> We do not share your info.
        </p>
      </div>
      <div id="register-form">
        {% include 'regform.html' %}
      </div>
      {% endif %}
    </div>
    </article>
  {% if event.sponsors %}
  <article id="sponsors">
    <div class="content">
      <h3>Supported by</h3>
      {% for sponsor in event.sponsors %}
      <a href="{{ sponsor.url }}" title="{{ sponsor.title }}"><img src="{{ url_for('static', filename='img/%s' % sponsor.photo) }}" alt="{{ sponsor.title }}"/></a>
      {% endfor %}
    </div>
    </article>
    {% endif %}
</div>
<article id="venue">
<div class="content" id="hoarding" style="450px">
<div id="venue-map" style="height=450px">

  <html>
      <body>
        <div id="map" style="height:250px"></div>
        <script>
          var map = new L.Map('map');
          var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
              subDomains = ['otile1','otile2','otile3','otile4'],
              cloudmadeAttrib = 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
              var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});

              var venue = new L.LatLng({{ event.venue.lat }}, {{ event.venue.lng }}); // geographical point (longitude and latitude)
              map.setView(venue, 15).addLayer(cloudmade);

                var venue_marker = new L.Marker(venue);
                  map.addLayer(venue_marker);


                  venue_marker.bindPopup('<strong>{{ event.venue.title }}</strong>').openPopup();
                </script>
              </body>
            </html>  
</div>


    <div id="venue-text">
      <h2>{{ event.venue.title }}</h2>
      {{ venue_address }}
      {{ venue_description }}
      <p><a href="http://maps.google.com/maps?q={{event.venue.lat}},{{event.venue.lng}}">View Map&nbsp;&rarr;</a> </p>

    </div>
  </div>
</article>        
{% endblock %}
{% block footerscripts %}

<!-- Ajax form -->
{% from "macros.html" import ajaxform -%}
{{ ajaxform('regform', request, True) }}


{% endblock %}
