{% from "baseframe/components.html" import networkbar with context -%}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <!--
  
  Does this website look familiar? That's because it was adapted from
  two earlier websites: Scaling PHP in the Cloud (https://phpcloud.hasgeek.com)
  and DocType HTML5 (http://www.doctypehtml5.in).

  Good code and graphics shouldn't go to waste.

  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% block titletags -%}
  <title>{% block title %}{% endblock %} — Geekup</title>
  <meta name="DC.title" content="{{ self.title()|e }}"/>
  {%- endblock %}
  <meta name="description" content="Public lectures by visiting geeks"/>
  <meta name="author" content="HasGeek"/>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {#<link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">#}

  <!-- Stylesheets -->
  {% assets "css_all" -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets -%}
  <link rel="stylesheet" href="{{ url_for('static', filename='js/libs/leaflet/leaflet.css')}}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" />  <!--[if IE]>
      <link href="{{ url_for('static', filename='css/ie.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->

  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/modernizr-1.6.min.js') }}"></script>
{%- if config['TYPEKIT_CODE'] %}
  <script type="text/javascript" src="//use.typekit.com/{{ config['TYPEKIT_CODE'] }}.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endif -%}
{% block pageheaders %}{% endblock %}
</head>
<body>
  <div id="container" class="container">
    <header id="top">
      {{ networkbar(siteid='geekup', login=false, containerclass='hg-bar-content') }}
      <div class="content">
        <div id="logo-planes">
          <div id="cloud-large-2" class="cloud cloud-large"><!-- --></div>
          <div id="cloud-large-3"  class="cloud cloud-large"><!-- --></div>
          <div id="cloud-medium-5" class="cloud cloud-medium"><!-- --></div>
          <div class="plane" id="plane-right"><!-- --></div>
          <div class="plane" id="plane-off-left"><!-- --></div>
          <div class="plane" id="plane-off-right"><!-- --></div>
          <div class="plane" id="plane-back"><!-- --></div>
          <!-- Planes bearing site title -->
          <div class="plane" id="plane-main"><!-- --></div>
          <h1 id="site-title"><span class="geekup-geek">Geek</span><span class="geekup-up">up</span><span class="geekup-bang">!</span></h1>
          <div id="plane-banner-text">
            Public lectures<br/>by visiting geeks
          </div>
        </div>
        {%- for category, msg in get_flashed_messages(with_categories=true) %}
          <div class="flash flash-{{ category }}">
            <div class="flashmessage">{{ msg }}</div>
          </div>
        {%- endfor %}
        {% block header %}{% endblock %}
      </div>
    </header>
    {#
    <div id="main-nav-holder">
      <nav id="main-navigation">
        <ul>
          <li><a href="#top">Top</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#videos">Videos</a></li>
          <li><a href="#register">Register</a></li>
          <li><a href="#venue">Venue</a></li>
        </ul>
      </nav>
    </div>
    #}
    <div id="main">
      {% block main %}
      <div class="content">
        {% block content %}{% endblock %}
      </div>
      {% endblock %}
    </div>
    <div class="clearfix"><!-- --></div>
  </div> <!--! end of #container -->
  <footer id="ground">
    <div class="content">
      {% block footer %}{% endblock %}
    </div>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript">
    if (typeof jQuery === 'undefined')
      document.write('<script type="text/javascript" src="{{ url_for("baseframe.static", filename="js/jquery-1.8.3.min.js") }}"><\/script>');
  </script>
  {% assets "js_all" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets -%}
  <script type="text/javascript" src="{{url_for('static',filename='js/libs/leaflet/leaflet.js')}}"></script>

  <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>

  <!--[if lt IE 7 ]>
    <script src="{{ url_for('static', filename='js/libs/dd_belatedpng.js') }}"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

{% if config['GA_CODE'] and not config['DEBUG'] %}
  <script type="text/javascript">
   var _gaq = [['_setAccount', '{{ config['GA_CODE'] }}'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
{% endif -%}

<!-- <script type="text/javascript">
  $(function() {
    navigation.run('#/index');
  });
</script> -->
  {% block footerscripts %}{% endblock %}
</body>
</html>
