{% extends "layout.html" %}
{% from 'macros.html' import ajaxform %}
{% block title %}GeekUp{% endblock %}
{% block content %}
<h2><a href="{{ url_for('eventpage', year=event.year, eventname=event.name) }}">{{ event }}</a></h2>
<article>
<h3>Confirmed participants</h3>
<table>
  <tr>
    <th>Participant Name</th>
    <th>Email</th>
    <th>RSVP</th>
  </tr>
  {% for participant in participants %}
  {% if participant.email_status %}
  <tr>
    <td>{{ participant.fullname }}</td>
    <td>{{ participant.email }}</td>
    <td>{{ rsvp[participant.rsvp][1] }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
</article>
<article>
<h3>Unconfirmed Participants</h3>
<table>
  <tr>
    <th>Participant Name</th>
    <th>Email</th>
  </tr>
  {% for participant in participants %}
  {% if not participant.email_status %}
  <tr>
    <td>{{ participant.fullname }}</td>
    <td>{{ participant.email }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
</article>
{% endblock %}

