// Define all colours here

$color-title-has: #df5e0e;
$color-title-geek: #816894;

$color-shadow: rgba(0, 0, 0, 0.4);
$color-sheet: #fff;
$color-sheet-border: #afafaf;

$color-outline: #b7b7b7;
$color-outline-thin: #e8e8e8;

$color-radio-selected: #f0a40c;
$color-required: $color-title-has;
$color-flash: #ffffa2;
