/* Form elements */
div.field {
    @include pie-clearfix;
    margin-top: 1em;
    margin-bottom: 1em;
    .checkbox label {
        padding-left: 0.25em;
    }
    div.label .required {
        color: $color-required;
    }
    &.small div.label {
        float: left;
        clear: left;
        width: 11em;
        padding-top: 6px; // Make label align with text in fields
        padding-right: 1em;
        label {
            font-weight: bold;
        }
    }
    &.small div.control {
        float: left;
        //width: 35em;
        ul {
            -moz-column-count: 2;
            list-style: none;
            margin: 0;
            li {
                padding: 0.25em;
                @include border-radius(4px);
                label {
                    padding-left: 0.25em;
                }
            }
            li.selected {
                //background-color: $color-radio-selected;
                font-weight: bold;
            }
        }
    }
    &.check div.label,
    &.wide div.label.submit {
        display: none;
    }
    &.wide div.label {
        float: none;
        clear: left;
        label {
            font-weight: bold;
        }
    }
    &.wide div.control {
        margin-top: 0.25em;
        float: none;
        clear: left;
    }
}

div.error {
    position: relative;
    background-color: $color-flash;
    margin: 1em 0;
    padding: 0.5em 1em 0.3em;
    line-height: 1;
    @include border-radius(4px);
    border: 1px solid $color-sheet-border;
    @include single-box-shadow(rgba(0, 0, 0, 0.1), 0, 1px, 2px);
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -20px;
        left: 12em;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: $color-sheet-border;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -19px;
        left: 12em;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: $color-flash;
    }
}

span.sidetext {
    padding-left: 0.5em;
}

span.description {
    font-size: 90%;
    color: #666;
}

form {
    margin-bottom: 1em;
}

fieldset {
    @include pie-clearfix;
    margin-top: 1em;
    margin-bottom: 1em;
}

textarea {
    width: 90%;
    height: 10em;
}

textarea, input[type="text"], input[type="password"], input[type="email"], input[type="url"], select {
    //display: block;
    font-family: ff-nuvo-web-pro, sans-serif;
    line-height: 1;
    padding: 5px;
    color: #444;
    border: 0;
    @include border-radius(3px);
}

textarea, input[type="text"], input[type="password"], input[type="email"], input[type="url"] {
    @include single-box-shadow(rgba(0, 0, 0, 0.1), 0, 1px, 2px);
    }

input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.3);
}

input[type="url"] {
    width: 500px;
}

input[name="title"] {
    font-weight: bold;
    font-size: 120%;
    width: 500px;
}

select {
    margin-bottom: 5px;
}

input[type="submit"] {
    height: 27px;
    border: 1px solid $color-outline;
    font-size: 14px;
    font-family: ff-nuvo-web-pro, sans-serif;
    line-height: 1;
    @include border-radius(3px);
    padding: 0 12px;
    background: #e6e6e6;
    //@include linear-gradient(color-stops(#e6e6e6, #d6d6d6));
    @include background-image(linear-gradient(#e6e6e6, #d6d6d6));
    font-weight: bold;
    color: #444;
    vertical-align: text-bottom;
    &:hover {
        //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        background: #d6d6d6;
        //@include linear-gradient(color-stops(#d6d6d6, #c6c6c6));
        @include background-image(linear-gradient(#d6d6d6, #c6c6c6));
        //color: #fff;
    }
}

input[type="submit"].delete {
    border: 1px solid #d47645;
    background: #ff8e53;
    //@include linear-gradient(color-stops(#ff8e53, #ee7e43));
    @include background-image(linear-gradient(#ff8e53, #ee7e43));
    &:hover {
        background: #ee7e43;
        //@include linear-gradient(color-stops(#ff8e53, #dd6e33));
        @include background-image(linear-gradient(#ff8e53, #dd6e33));
    }
}

span.loading {
    display: inline-block;
    background: image-url("ajax-loader.gif") center no-repeat;
    width: 16px;
    height: 16px;
    &.hidden {
        display: none;
    }
}
