Flask==1.0.2
Flask-Sqlalchemy==2.3.2
Flask-Assets==0.12
Flask-Mail==0.9.1
Flask-WTF==0.14.2
pytz==2018.4
markdown==2.6.11
pygooglechart==0.4.0
https://github.com/hasgeek/coaster/zipball/master
https://github.com/hasgeek/flask-lastuser/zipball/master
https://github.com/hasgeek/baseframe/zipball/master
jsmin==2.2.2
greatape
Flask-Admin
