Flask==1.0.2
Flask-Sqlalchemy
Flask-Assets
Flask-Mail
Flask-WTF
pytz
markdown
pygooglechart
https://github.com/hasgeek/coaster/zipball/master
https://github.com/hasgeek/flask-lastuser/zipball/master
https://github.com/hasgeek/baseframe/zipball/master
jsmin
greatape
Flask-Admin
